body{
	background-color: deepskyblue;
}

.container{
	background-color: white;
	background-color: white;
	border-radius: 10px;
	width: 30%;
	height: 300px;
	overflow-y: scroll;
	box-shadow: 10px 5px 5px #1A1A1A;
	margin-top: 100px;
}

.content{
	margin-top: 20px;
}

.validate{
	width: 75%;
	height: 40px;
}

input{
	text-align: center;
}